@page
@model FixtureManager.Pages.Pitches.IndexModel
@{
    ViewData["Title"] = "Timeline";
}

<h2>Fixture Grid</h2>
<div id='calendar'></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'resourceTimeGridDay',
            @*editable: false,*@
            allDaySlot: false,
            slotDuration: '00:15:00', /* If we want to split day time each 15minutes */
            slotMinTime: '09:00:00', /* calendar start Timing */
            slotMaxTime: '18:00:00',  /* calendar end Timing */
            expandRows: true,
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            @*initialDate: '2021-09-06',*@
            slotLabelFormat: {
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },
            datesAboveResources: true,
            @*headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'resourceTimeGridDay'
            },*@
            views: {
                resourceTimeGridDay: {
                    hiddenDays: [1, 2, 3, 4, 5],
                    titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                        month: 'long',
                        year: 'numeric',
                        day: 'numeric',
                        weekday: 'long'
                    },
                },
                resourceTimeGridWeek: {
                    hiddenDays: [],
                    titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                        month: 'short',
                        year: 'numeric',
                        day: 'numeric',
                        weekday: 'short'
                    },
                }
            },
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },

            resources: @Html.Raw(Model.ResourceJSON),
            @*resources: [
                {
                    "id": "a37dbd57-1722-4f2a-91a3-af141bb2029c",
                    "title": "S",
                    "displayOrder": 1
                },
                {
                    "id": "8f55b18e-368e-4dad-9a56-1df8c2731702",
                    "title": "P2",
                    "displayOrder": 2
                },
                {
                    "id": "7ca8cb22-4b34-4c53-aeae-d15eceeecaa1",
                    "title": "P3",
                    "displayOrder": 3
                },
                {
                    "id": "92c2dd82-38c9-4b1a-aacf-e9f207b9dd7a",
                    "title": "P4",
                    "displayOrder": 4
                },
                {
                    "id": "9e365bfe-ddc2-4296-83df-b278a846207f",
                    "title": "L3G",
                    "displayOrder": 5
                },
                {
                    "id": "b89084d2-1095-428c-bc52-885f2b207c1b",
                    "title": "Meadow",
                    "displayOrder": 6
                }],*@

            resourceOrder: 'displayOrder',
            @*events: @Html.Raw(Model.EventJSON)*@
            events: '/api/Event',

            eventDrop: function (info) {
                @*alert(JSON.stringify(info.event, null, 4));*@

                let ev = info.event;
                let eventData = `{"id": "${ev.id}", "title": "${ev.title}","start": "${ev.start.toJSON()}","end": "${ev.end.toJSON()}","resourceId": "${ev.getResources()[0].id}"}`
                $.ajax({
                    url: '/api/Event/' + info.event.id,
                    type: 'PUT',
                    dataType: 'application/json',
                    contentType: 'application/json',
                    data: eventData,
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        info.revert();
                    }
                });  
            }
        });
    calendar.render();
    });
</script>

@*events: [
    { id: '1', resourceId: '2', start: '2021-09-07T09:00:00', end: '2021-09-07T10:00:00', title: 'event 1' }]*@@*resources: [
        { id: 'a', building: '460 Bryant', title: 'Auditorium A' },
        { id: "7ca8cb22-4b34-4c53-aeae-d15eceeecaa1", building: '460 Bryant', title: 'Auditorium B' },
        { id: 'c', building: '460 Bryant', title: 'Auditorium C', eventColor: 'orange' },
        {
            id: 'd', building: '460 Bryant', title: 'Auditorium D', children: [
                { id: 'd1', title: 'Room D1', occupancy: 10 },
                { id: 'd2', title: 'Room D2', occupancy: 10 }
            ]
        },
        { id: 'e', building: '460 Bryant', title: 'Auditorium E' },
        { id: 'f', building: '460 Bryant', title: 'Auditorium F', eventColor: 'red' },
        { id: 'g', building: '564 Pacific', title: 'Auditorium G' }

    ],
    events: [
        { Id: "a81ced9a-5cab-461c-839a-2ae4994afed2", resourceId: "7ca8cb22-4b34-4c53-aeae-d15eceeecaa1", start: "2021-09-04T09:00:00", end: "2021-09-04T09:30:00", title: 'event 1' },
        { id: '2', resourceId: 'c', start: '2021-09-04T05:00:00', end: '2021-09-04T22:00:00', title: 'event 2' },
        { id: '3', resourceId: 'd', start: '2021-09-04', end: '2020-09-04', title: 'event 3' },
        { id: '4', resourceId: 'e', start: '2021-09-05T11:00:00', end: '2021-09-05T16:00:00', title: 'event 4' },
        { id: '5', resourceId: 'f', start: '2021-09-05T12:30:00', end: '2021-09-05T14:30:00', title: 'event 5' }
    ]*@
    @*resources: [{ "Id": "a37dbd57-1722-4f2a-91a3-af141bb2029c", "title": "Pitch 1" }, { "Id": "2", "title": "Pitch 2" }, { "Id": "7ca8cb22-4b34-4c53-aeae-d15eceeecaa1", "title": "Pitch 3" }, { "Id": "92c2dd82-38c9-4b1a-aacf-e9f207b9dd7a", "title": "Pitch 4" }, { "Id": "9e365bfe-ddc2-4296-83df-b278a846207f", "title": "Large 3G" }, { "Id": "ff4b08c8-dc9a-4f4a-9ec1-bada343145b9", "title": "Small Astro" }, { "Id": "b89084d2-1095-428c-bc52-885f2b207c1b", "title": "Meadow" }],*@
